<div id="my-assets-content" class="content-section">
    <h2 class="section-title">My Assets</h2>
    <div class="asset-list">
        <div class="asset-item">
            <div class="asset-icon"><i class="fab fa-ethereum"></i></div>
            <div class="asset-details">
                <h3>0</h3>
                <p>0</p>
            </div>
            <div class="asset-value">0</div>
        </div>
        <div class="asset-item">
            <div class="asset-icon"><i class="fas fa-dollar-sign"></i></div>
            <div class="asset-details">
                <h3>x</h3>
                <p>0</p>
            </div>
            <div class="asset-value">0</div>
        </div>
    </div>
</div>